<nav x-data="initNavbar()" class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <span class="navbar-item">
        <span class="title is-4 has-text-primary">SignaMind</span>
      </span>
    </div>
    <div id="navbar-menu" class="navbar-menu is-static" :class=`{
          'is-active': mobileOpen,
          '': !mobileOpen
      }`>
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a href="#solution" class="navbar-item is-secondary"> Solution</a>
        <a href="#contact" class="navbar-item">
          <span class="button signup-button secondary-btn raised"> Contact Us </span>
        </a>
      </div>
    </div>
  </div>
</nav>
