<nav
  x-data="initNavbar()"
  x-on:scroll.window="scroll()"
  id="navbar-clone"
  class="navbar is-fresh is-transparent"
  role="navigation"
  aria-label="main navigation"
  :class=`{
    'is-active': scrolled,
    '': !scrolled
  }`
>
  <div class="container">
    <div class="navbar-brand">
      <a href="#" class="navbar-item" onclick="event.preventDefault(); window.scrollTo({ top: 0, behavior: 'smooth' });">
        <img src="/img/logo/signamind-top.png" alt="SignaMind" />
      </a>
    </div>

    <div id="cloned-navbar-menu" class="navbar-menu is-fixed" :class=`{
          'is-active': mobileOpen,
          '': !mobileOpen
      }`>
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a href="#solution" class="navbar-item is-secondary">Solution</a>
        <a href="#why" class="navbar-item is-secondary">Why SignaMind</a>
        <a href="#publications" class="navbar-item is-secondary">Publications</a>
        <a href="#contact" class="navbar-item">
          <span class="button signup-button secondary-btn raised"> Contact Us </span>
        </a>
      </div>
    </div>
  </div>
</nav>
